<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swappy - Profil</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Profilseite</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Benutzername:</h5>
                <p class="card-text">
                    <%=user.username%>
                </p>
                <h5 class="card-title">Email:</h5>
                <p class="card-text">
                    <%=user.email%>
                </p>
                <h5 class="card-title">Adresse:</h5>
                <p class="card-text">
                    <%=user.address%>
                </p>

                <h5 class="card-title">Meine Artikel:</h5>
                <ul>
                    <% products.forEach( (product)=> { %>
                        <li class="card-text">
                            <a href="/product/<%= product._id.toString()%>?user=<%=user.username%>">
                                <%= product.title %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <p>
                    <a href="<%= `profile?user=<%= user.username %>/delete?_method=DELETE` %>"
                        onclick="return confirm('Bist du sicher, dass du deinen Account löschen willst?')">
                        Account löschen
                    </a>
                </p>

            </div>
        </div>
    </div>
</body>

</html>
<--<a href="<%= `users/${user._id}/delete?_method=DELETE` %>" ➥ onclick="return confirm('Are you sure you want to delete
    ➥ this record?')">Delete</a> --!>