<!DOCTYPE html>
<html lang="en">

<head>
    <title>Swappy - Profil</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Profilseite</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Benutzername:</h5>
                <p class="card-text">
                    <%=user.username%>
                </p>
                <h5 class="card-title">Email:</h5>
                <p class="card-text">
                    <%=user.email%>
                </p>
                <h5 class="card-title">Adresse:</h5>
                <p class="card-text">
                    <%=user.address%>
                </p>
                <% if(typeof user !=='undefined' ) {%>
                    <a href="/profile/update" class="btn btn-primary">
                        Profil bearbeiten
                    </a>
                    <% } %>
            </div>
            <div class="card">

                <div class="card-header">
                    <h2 class="mb-0">Meine Artikel</h2>
                </div>
                <ul class="card-text">
                    <% products.forEach( (product)=> { %>
                        <li>
                            <a href="/product/<%= product._id.toString()%>">
                                <%= product.title %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <p>
                    <a href="/profile/delete" class="btn btn-primary"
                        onclick=" return confirm('Bist du sicher, dass du deinen Account löschen willst?')">
                        Account löschen
                    </a>
                </p>

            </div>
        </div>
    </div>
</body>

</html>